/* primera seccion */

.section-one {
    width: 100%;
    height: auto;
    position: relative;
}

.section-one figure img {
    width: 100%;
    height: auto;
}

.download-app {
    background-color: rgb(255, 187, 0);
    position: absolute;
    top: 25rem;
    right: 0;
    color: white;
    padding: 2rem 7rem 2rem 2rem;
}

.download-app h3 img {
    width: 6rem;
}

.download-app button {
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background: white;
}